{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}- Nos voitures
{% endblock %}

{% block body %}

	<section class="voiture-section1 background">
		<div class="container">
			<h1 class="">Nos voitures</h1>

			<a href="{{ path('car.new') }}" class="btn btn-primary mb-4">Ajouter un véhicule</a>
		</div>
	</section>
	<div class="container">
		
			<form class=" mt-4 " action="" method="get" id="filters">
				{{ form_start(form) }}
				<div class="flex information">
					<div>
						<h5>
							<i class="fa fa-gauge-high"></i>
							&thinsp; Kilomètrage</h5>
						<div class="flex   mt-xs-2 mt-md-4 me-md-5">
							<div class="form-group col-xs-6 me-3" id="valide">
								{{ form_label(form.kilometerMin) }}
								{{ form_widget(form.kilometerMin) }}
							</div>

							<div class="form-group col-xs-6" id="valide">
								{{ form_label(form.kilometerMax) }}
								{{ form_widget(form.kilometerMax) }}
							</div>
						</div>
					</div>

					<div>
						<h5 class="mt-4 mt-md-0 ">
							<i class="fa fa-calendar"></i>
							&thinsp; Année</h5>
						<div class="flex  mt-xs-2 mt-md-4 me-md-5">
							<div class="form-group col-xs-6 me-3" id="valide">
								{{ form_label(form.yearMin) }}
								{{ form_widget(form.yearMin) }}
							</div>

							<div class="form-group col-xs-6" id="valide">
								{{ form_label(form.yearMax) }}
								{{ form_widget(form.yearMax) }}
							</div>
						</div>
					</div>

					<div>
						<h5 class="mt-4 mt-md-0 ">
							<i class="fa fa-euro"></i>
							&thinsp; Prix</h5>
						<div class="flex  mt-xs-2 mt-md-4">
							<div class="form-group me-3" id="valide">
								{{ form_label(form.priceMin) }}
								{{ form_widget(form.priceMin) }}
							</div>

							<div class="form-group" id="valide">
								{{ form_label(form.priceMax) }}
								{{ form_widget(form.priceMax) }}
							</div>
						</div>
					</div>
				</div>

				<div class="form-group text-end-md button-search ">
					{{ form_label(form.submit) }}
					{{ form_widget(form.submit) }}
				</div>
				<div class="form-group sortBy col-md-3" id="reference">
					{{ form_widget(form.sortBy) }}
				</div>
				{{ form_rest(form) }}
			</form>
		

		<section>
			<div id="content">

				{% include "pages/car/_content.html.twig" %}
			</div>
		</section>
	</div>


</div>{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('assets/js/filters.js')}}"></script>
{% endblock %}
