{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}- les options
{% endblock %}

{% block body %}
	<div class="container mt-5 body-height">
		<h1 class="comment">Les commentaires</h1>

		
		{% if not comment.items is same as ([]) %}

			
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-3">
					{{ message }}</div>
			{% endfor %}

			<div class=" information flex justify-content-between mt-4 ">
				<h4>Il y a {{ comment.getTotalItemCount }} commentaires au total</h4>
				<a href="{{ path('comment.new') }}" class="btn btn-primary btn-size-new">Ajouter un commentaire</a>
			</div>

			<div class="table-responsive">
				<table class="table table-active mt-4 table-texte-size">
					<thead>
						<tr>
							<th scope="col">Numéro</th>
							<th scope="col">Nom</th>
                            <th scope="col">Note</th>
                            <th scope="col">Approuvé</th>
							<th scope="col">Edition</th>
							<th scope="col">Suppression</th>
						</tr>
					</thead>
					<tbody>
						{% for comment in comment %}
							<tr class="table-active mt-4">
								<th scope="row">{{ comment.id }}</th>
								<td>{{ comment.name }}</td>
                                <td>{{ comment.note }}</td>
                                <td>{% if comment.isApproved == "Non" %}
										<span class="red">{{ comment.isApproved }}</span>
									{% elseif  comment.isApproved == "Oui"%}
										<span class="green">{{ comment.isApproved }}</span>
									{% else %}
										{{ comment.isApproved }}
									{% endif %}</td>
								<td>
									<a href="{{ path('comment.edit', { id: comment.id }) }}" class="btn btn-primary btn-size">Modifier</a>
								</td>
								<td>
									<a href="{{ path('comment.delete', { id: comment.id }) }}" class="btn btn-danger btn-size">Supprimer</a>
								</td>
                                
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(comment) }}
			</div>
		{% else %}
			<h4>Aucune option n'a été trouvé</h4>
            <a href="{{ path('comment.new') }}" class="btn btn-info btn-size-new">Créer une option</a>
		{% endif %}
	</div>
{% endblock %}
